{% extends 'basic.html' %}
{% block title %} Contact {% endblock %}

{% block css %}
.side {
  background-color: #7431F9;
  color: white;
}
{% endblock %}
{% block body %}
<div class="container mt-4">
  <div class="row g-5">
  <div class="col-md-8">
        <h3>Contact Us</h3>
        <form action="/contact/" method="post" id="my-form" style="width:500px;">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name='name' placeholder="Full Name"  required>
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name='email' placeholder="name@email.com" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name='phone' placeholder="0123456789" pattern="[0-9]{10}" required>
            </div>
            <div class="form-group">
                <label for="desc">How May We Help You?</label>
                <textarea class="form-control" id="desc" name='desc' rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-dark mt-3">Submit</button>
        </form>
    </div>
    <div class="col-md-4 rounded side">
      <div class="position-sticky" style="top: 2rem; bottom: 2rem;">
        <div class="p-4 mb-3 mt-4 bg-light text-dark rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
      </div>
{% endblock %}

{% block js %}
<script>
    {% if query %}
    alert("Your query has been noted. We'll get back to you shortly");
    {% endif %}
</script>
{% endblock %}
