{% extends 'blog/basic.html' %}


{% block title %} Random Snippet {% endblock %}


{% block css %}
  .side {
    background-color: #7431F9;
    color: white;
  }
  a:link, a:visited, a:active {
    color: white;
  }
  a:hover {
    color: red;
  }
  .button {
    color: white;
  }
  .button:hover {
    color: red;
    background-color: #7431F9;
  }
  .textarea {
      display: inline-block;
      float: left;
      padding: 1px 5px !important;
      font-size: 15px !important;
      line-height: 2 !important;
      border-radius: 16px !important;
  }
  .btn-circle {
    background-color: #7431F9;
    width: 40px;
    height: 40px;
    padding-top: 1px;
    padding-left: 11px;
    border-radius: 25px;
    font-size: 25px;
    text-align: left;
  }
  .btn-sm {
    background-color: #7431F9;
    padding: 2px 20px;
    border-radius: 25px;
    font-size: 18px;
    text-align: left;
  }
  svg {
    vertical-align: unset;
}
{% endblock %}


{% block body %}
    <div class="container mt-4">
      <!-- <img src="/media/{{poem.image}}" height="250"> -->
    <div class="row g-5">
    <div class="col-md-8">
      {% for poem in poems %}
      <pre style="font-size: 40px; font-family: Georgia, 'Times New Roman', Times, serif;" class="pb-4 mb-4 mx-4 fst-italic border-bottom">{{poem.title}}</pre>
      <pre style="font-size: 18px; font-family:Georgia, 'Times New Roman', Times, serif;">{{poem.poem}}</pre>
      <br>
      <div class="container">
        <form method="post" id="interaction">
          {% csrf_token %}
        <button type="submit" class="btn btn-outline-light btn-circle button" id="like">&hearts;</button>&nbsp;<span style="font-size: 18px; font-family:Georgia, 'Times New Roman', Times, serif;" id="display"></span>
        <button type="submit" class="btn btn-outline-light btn-circle button"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"></path>
        </svg></button>
        <p>
        <textarea  rows="1" cols="30" id="comment" style="resize: none;" class="mt-4 textarea"></textarea>&nbsp;
        <button type="submit" class="btn btn-outline-light btn-sm mt-4 button">Comment</button>
      </p>
    </form>
    </div>
    {% endfor %}
    </div>
    <div class="col-md-4 rounded side">
      <div class="position-sticky" style="top: 2rem; bottom: 2rem;">
        <div class="p-4 mb-3 mt-4 bg-light text-dark rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            {% for poem in li %}
            <li><a href="/blog/poempage/{{poem.poem_id}}">{{poem.title}}</a></li>
            {% endfor %}
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/scarletteenager" target="_blank">GitHub</a></li>
            <li><a href="https://www.twitter.com/glassedpoet/" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com/glassedpoet/" target="_blank">Instagram</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script>
  var count = 0;
        var btn = document.getElementById("like");
        var disp = document.getElementById("display");
  
        btn.onclick = function () {
            count++;
            disp.innerHTML = count;
        }
  $('#interaction').submit(function(event) {
  event.preventDefault();
});
</script>
{% endblock %}
